<div class="filter-con">
  <div class="filter-group">
    <h3>filter title 1</h3>
    <p class="filter-item-con">
      <span class="filter-item">filter name 1</span>
      <span class="filter-item">filter name 2</span>
      <span class="filter-item">filter name 3</span>
      <span class="filter-item">filter name 4</span>
    </p>
  </div>

  <div class="filter-group">
    <h3>filter title 2</h3>
    <p class="filter-item-con">
      <span class="filter-item">filter name 1</span>
      <span class="filter-item">filter name 2</span>
      <span class="filter-item">filter name 3</span>
      <span class="filter-item">filter name 4</span>
    </p>
  </div>

  <div class="filter-group">
    <h3>filter title 3</h3>
    <p class="filter-item-con">
      <span class="filter-item">filter name 1</span>
      <span class="filter-item">filter name 2</span>
      <span class="filter-item">filter name 3</span>
      <span class="filter-item">filter name 4</span>
    </p>
  </div>
</div>
