.prev-next {
    display: flex;
    justify-content: space-between;

    &:not(:empty) {
      padding: 30px 0;
    }

    a {
        display: flex;
        align-items: center;
    }

    a h4 {
        margin-bottom: 0;
    }
}
