<div class="prev-next">
  <a href="#" title="">
    {{> svg/svg icon = "chevron-left"}}
    <h4>Previous article</h4>
  </a>
  <a href="#" title="">
    <h4>Next article</h4>
    {{> svg/svg icon = "chevron-right"}}
  </a>
</div>
