{{!--
* background for background-color, auto set padded if set
--}}
<div class="article-text{{#if background}} padded {{/if}}"{{#if background}} style="background-color:{{background}};{{/if}}">
  <p>Lorem ipsum dolor sit amet, id has quem dicam. Eam at stet verear expetendis. Odio elit liber per an, delectus apeirian vel ea. Ad vero adipisci vituperata sed, summo docendi accusata et mea.</p>

  <p>Lorem ipsum dolor sit amet, id has quem dicam. Eam at stet verear expetendis. Odio elit liber per an, delectus apeirian vel ea. Ad vero adipisci vituperata sed, summo docendi accusata et mea.</p>

  <p>Ex mundi inermis ius, nemore omnesque in per, ius an reque nostro. Ad nonumy facilisi vim. Ipsum alienum qui ut. Ex vel case feugiat constituam, no utroque consequat referrentur sit, ut accusam appetere sententiae eum. Eum aliquam iudicabit eu, nulla mundi ei cum. Pro ad efficiendi vituperatoribus, iuvaret scaevola his et, est dicit adversarium ex. Vim at recteque patrioque. Ex mundi inermis ius, nemore omnesque in per, ius an reque nostro. Ad nonumy facilisi vim. Ipsum alienum qui ut. Ex vel case feugiat constituam, no utroque consequat referrentur sit, ut accusam appetere sententiae eum. </p>

  <p>Ex mundi inermis ius, nemore omnesque in per, ius an reque nostro. Ad nonumy facilisi vim. Ipsum alienum qui ut. Ex vel case feugiat constituam, no utroque consequat referrentur sit, ut accusam appetere sententiae eum. Eum aliquam iudicabit eu, nulla mundi ei cum. Pro ad efficiendi vituperatoribus, iuvaret scaevola his et, est dicit adversarium ex. Vim at recteque patrioque.</p>

  <p>Lorem ipsum dolor sit amet, id has quem dicam. Eam at stet verear expetendis. Odio elit liber per an, delectus apeirian vel ea. Ad vero adipisci vituperata sed, summo docendi accusata et mea.</p>
</div>
