<section class="{{cssModifier}}">
  <div class="content-container row four-cols">

    <div class="col-item">
      {{#> content-section-one }}
        No content section found
      {{/content-section-one }}
    </div>

    <div class="col-item">
      {{#> content-section-two }}
        No content section found
      {{/content-section-two }}
    </div>

    <div class="col-item">
      {{#> content-section-three }}
        No content section found
      {{/content-section-three }}
    </div>

    <div class="col-item">
      {{#> content-section-four }}
        No content section found
      {{/content-section-four }}
    </div>

  </div>
</section>
