{{!-- dependency header utility --}}
<header class="site-header">
  <section class="section">
    <div class="content-container">
      <div class="site-identity">
        {{> image-placeholder/image-placeholder
          width = 350
          height = 280
          class = "logo"
        }}

        <div class="text">
          <p class="site-name">Company branding</p>
          <p class="site-desc">Company quote/desc</p>
        </div>
      </div>

      <div class="main-menu">
        <ul>
          <li><a href="/" title="">Home</a></li>
          <li><a href="#" title="">menu menu 1</a></li>
          <li><a href="#" title="">menu menu 2</a></li>
          <li><a href="#" title="">menu menu long text 3</a></li>
          <li><a href="#" title="">menu menu 4</a></li>
        </ul>
      </div>

      <div class="nav-container">
        <nav class="slider-menu">
          <div href="/" title="" class="header">
            <span>Company branding</span>
            {{> svg/svg icon = "cross" cssModifier = "js-menu"}}
          </div>

          <div class="main-menu-mobile">&nbsp;</div>

          <ul>
            <li>
              <a href="#" title="">Sample hbs module pages</a>
              <ul>
                <li>
                  <a href="/module-accordion.html" title="">Accordion</a>
                </li>
                <li>
                  <a href="/module-article-text.html" title="">Article text</a>
                </li>
                <li>
                  <a href="/module-form.html" title="">Form</a>
                </li>
                <li>
                  <a href="/module-heading-title.html" title="">Heading - title page</a>
                </li>
                <li>
                  <a href="/module-image-text-panel-horizontal.html" title="">Image text panel horizontal</a>
                </li>
                <li>
                  <a href="/module-image-text-panel-vertical.html" title="">Image text panel vertical</a>
                </li>
                <li>
                  <a href="/module-slick-carousel.html" title="">Slick carousel</a>
                </li>
                <li>
                  <a href="/module-popup.html" title="">Popup sample</a>
                </li>
                <li>
                  <a href="/module-sliding-door.html" title="">Sliding door</a>
                </li>
                <li>
                  <a href="/module-tabs.html" title="">Tabs</a>
                </li>
                <li>
                  <a href="/module-wysiwyg.html" title="">Wysiwyg</a>
                </li>
                <li>
                  <a href="/module-wysiwyg-bg.html" title="">Wysiwyg with background</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" title="">Sample react module pages</a>
              <ul>
                <li>
                  <a href="/react-listing-with-filter-50-50.html" title="">React listing with filter 50 50</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-even-odd.html" title="">React listing with filter even odd</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-overlay.html" title="">React listing with filter overlay</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-thumbnail-reverse.html" title="">React listing with filter thumbnail-reverse</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-thumbnail.html" title="">React listing with filter thumbnail</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-vertical-reverse.html" title="">React listing with filter vertical reverse</a>
                </li>
                <li>
                  <a href="/react-listing-with-filter-vertical.html" title="">React listing with filter vertical</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="ref-section.html" title="">Section page</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
