.text-image-panel.vertical {
  .detail:not(.padded) {
    @include paddingQueryScreenAll(0, 0, 0, 0);
    @include paddingPosQueryScreen("top");
  }

  .reverse .detail:not(.padded) {
    @include paddingPosQueryScreen("top", $content-padding-xs, 0, 0, 0);
    @include paddingPosQueryScreen("bottom", 0);
    @include paddingPosQueryScreen("right", 0, 0, 0, 0);
  }
}

.text-image-panel {
  .row {
    @include marginPosQueryScreen("bottom");
    position: relative;
  }

  .row.overlay:hover,
  .row.overlay.hover,
  .row.padded-content:hover,
  .row.padded-content.hover {
    box-shadow: $box-shadow;
    z-index: 1;
  }

  .row.no-spacer-bottom {
    @include marginPosQueryScreen("bottom", 0, 0, 0, 0);
  }

  .row.overlay .item-footer,
  .row.overlay .small {
    display: none;
  }

  .thumbnail-container {
    min-height: 60vw;
    position: relative;
    overflow: hidden;
  }

  .thumbnail {
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.18s ease-in;

    &:hover {
      width: 130%;
      height: 130%;
    }
  }

  .row.no-spacer-bottom + .row .detail:not(.padded) {
    @include paddingPosQueryScreen("top");
  }

  .row.no-spacer-bottom .detail:not(.padded) {
    @include paddingPosQueryScreen("bottom", 0);
  }

  .reverse .detail:not(.padded) {
    @include paddingPosQueryScreen("left", 0, 0, 0, 0);
    @include paddingPosQueryScreen("right", 0);
  }

  .detail:not(.padded) {
    @include paddingPosQueryScreen("top", $content-padding-xs, 0, 0, 0);
    @include paddingPosQueryScreen("left", 0 );
  }

  .detail h2 {
    margin-bottom: 0;
  }

  .detail h2.small {
    font-size: $h4-size;
    line-height: $h4-line-height;
  }

  .detail .small:not(h2) {
    opacity: 0.7;
  }

  .detail p:last-of-type {
    margin-bottom: 0;
  }

  .item-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .item-footer .price {
    display: flex;
    flex-direction: column-reverse;
    margin-right: $content-padding-xs;
  }

  .item-footer .discount,
  .item-footer .rating {
    width: 50%;
    max-width: 150px;
    display: flex;
    flex-shrink: 0;
  }

  .item-footer .discount {
    flex-direction: column;
  }

  .item-footer .discount-text {
    font-size: 150%;
    font-weight: bold;
    color: $red;
  }

  .item-footer .discount .rating,
  .item-footer .rating {
    width: 100%;
    display: flex;
    margin: ($base-line-height - $content-padding-xs) / 2 0;
    overflow: hidden;
  }

  .item-footer .rating .icon {
    color: $yellow;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
  }

  .item-footer .btn {
    flex-shrink: 0;
    margin-right: 100%;
    margin-top: $content-padding-xs;
  }
}

@media screen and (min-width: $screen-sm) {
  .one-col .text-image-panel.vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .row {
      width: calc(50% - #{$content-padding-sm / 2});
    }
  }

  .text-image-panel.vertical {
    .row {
      flex-direction: column;
      justify-content: flex-start;
    }

    .row.reverse:not(.overlay) {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    .thumbnail-container {
      height: 230px;
      flex-shrink: 0;
    }

    .detail {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .item-footer {
      margin-top: auto;
    }
  }

  .text-image-panel {
    .thumbnail-container {
      min-height: 0;
    }

    .with-thumbnail .item-footer .discount,
    .with-thumbnail .item-footer .rating {
        margin-right: $content-padding-xs;
    }

    .with-thumbnail .item-footer .discount .rating {
      margin-right: 0;
    }

    .with-thumbnail .item-footer .btn {
      margin-right: 0;
      margin-bottom: ($base-line-height - $content-padding-xs) / 2;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .one-col .text-image-panel.vertical {
    .row {
      width: calc(100% / 3 - #{$content-padding-sm / 2});
    }
  }

  .four-cols .text-image-panel.vertical {
    .thumbnail-container {
      height: 150px;
    }
  }
}

@media screen and (min-width: $screen-md + 1) {
  .text-image-panel.vertical {
    .overlay {
      overflow: hidden;
      display: table;
    }

    .overlay .thumbnail:hover {
      width: 100%;
      height: 100%;
    }

    .overlay .detail:not(.padded),
    .overlay .detail {
      background: transparent !important;
      position: absolute;
      @include overlay();
      @include pullOverlayBack();
      top: auto;
      bottom: -70px;
      height: auto;
      max-height: 70px;
      overflow: hidden;
      @include paddingQueryScreenAll(0, 0, 10px, 10px, 1);
      transition: all 0.28s ease-in-out;
    }

    .overlay:hover .detail {
      bottom: 0;
    }

    .overlay .detail > * {
      color: $white;
    }
  }
}

@media screen and (min-width: $screen-lg) {
}
