{{!--
* heading type; h1, h2, h3
* title for title text
--}}
<div class="title-page">
  {{#if h1 }}
    <h1>{{title}}</h1>
  {{/if }}
</div>

<div class="title-page">
  {{#if h2 }}
    <h2>{{title}}</h2>
  {{/if }}
</div>

<div class="title-page">
  {{#if h3 }}
    <h3>{{title}}</h3>
  {{/if }}
</div>
