.form {
  max-width: $max-text-width;
}

.alert {
  display: block;
  border-radius: $border-radius;
  padding: $content-padding-xs / 2;
  color: $white;
}

.alert.error {
  background: $red-2;
}

.alert.warning {
  background: $yellow;
}

.alert.success {
  background: $green;
}

.field {
  padding: $content-padding-xs / 2 0;
  margin-bottom: $content-padding-xs / 2;
  display: flex;
  flex-direction: column;
  width: 100%;

  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
    width: 100%;
  }
}

.error {
  input {
    border-color: $field-border-error;
  }

  span {
    color: $red;
  }
}

input {
  background: $field-background;
  border: solid 1px $field-border;
  border-radius: $border-radius;
  padding: $field-padding;
  box-shadow: $box-shadow-field;
  line-height: $base-line-height;

  &:focus {
    box-shadow: $box-shadow;
  }

  &:disabled {
    background: $field-background-disabled;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

select {
  line-height: $select-height;
  height: $select-height;
  background: transparent;
  border-radius: $border-radius;
  width: 100%;
}

textarea {
  min-height: $content-padding-xs * 5;
  padding: $field-padding;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $shades-2;
  opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $shades-2;
  opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $shades-2;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: $shades-2;
  opacity: 0.5;
}
