<div class="form">
  <p class="alert success">Success alert text</p>
  <p class="alert warning">Success alert text</p>
  <p class="alert error">Success alert text</p>

  <div class="field">
    <label for="text-1">text one valid</label>
    <input type="text" id="text-1" placeholder="input placeholder" />
  </div>

  <div class="field error">
    <label for="text-2">text one invalid</label>
    <input type="text" id="text-2" placeholder="input placeholder" />
    <span>Invalid text input</span>
  </div>

  <div class="field">
    <label for="text-3">text one disable</label>
    <input type="text" id="text-3" disabled placeholder="input placeholder" />
  </div>

  <div class="field">
    <label for="file-1">file upload</label>
    <input type="file" id="file-1" placeholder="input placeholder" />
  </div>

  <div class="field">
    <label for="select-1">Select or dropdown</label>
    <select id="select-1">
      <option value="1" selected="selected">option 1</option>
      <option value="2">option 2</option>
      <option value="3">option 3</option>
    </select>
  </div>

  <div class="field">
    <label for="textarea-1">textarea</label>
    <textarea id="textarea-1"></textarea>
  </div>

  <div class="field inline">
    <label for="checkbox-1">
      <input type="checkbox" id="checkbox-1" />
      check box
    </label>
  </div>

  <div class="field inline">
    <label for="checkbox-2">
      <input type="checkbox" id="checkbox-2" />
      check box
    </label>
  </div>

  <div class="field inline">
    <label for="radio-1">
      <input type="radio" id="radio-1" name="radio" />
      check box
    </label>
  </div>

  <div class="field inline">
    <label for="radio-2">
      <input type="radio" id="radio-2" name="radio" />
      check box
    </label>
  </div>

  <div class="field">
    <div>
      <button class="btn">button submit</button>
    </div>
  </div>

  <div class="field">
    <div>
      <input class="btn" type="submit" value="input submit" />
    </div>
  </div>
</div>
