.show-search-form {
  .header-utility-search {
    max-height: 150px;
  }

  .overlay-button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 6;
  }
}

.header-utility-search {
  background: $base-content-background;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.18s ease-in;
  z-index: 10;
  position: relative;
  @include paddingPosQueryScreen('bottom', 0, 0, 0, 0);
  @include paddingPosQueryScreen('top', 0, 0, 0, 0);

  .content-container {
    padding-top: $content-padding-sm;
    padding-bottom: $content-padding-sm;
    display: flex;
    align-items: center;
  }

  label {
    width: 100%;
    max-width: 400px;
    flex-shrink: 1;
    margin-right: $field-padding;
    margin-left: auto;
  }

  button, svg {
    flex-shrink: 0;
  }

  button {
    margin-right: $field-padding;
  }

  .icon.cross {
    cursor: pointer;

    &:hover {
      color: $link-color-hover;
    }
  }
}

.header-utility-link {
  @include paddingPosQueryScreen('bottom', 0, 0, 0, 0);
  @include paddingPosQueryScreen('top');

  .content-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .content-container > * {
    margin-left: $field-padding;
    align-items: center;
    display: flex;
    position: relative;
  }

  .content-container span {
    display: none;
  }

  .content-container a:not(:last-child) svg {
    width: 26px;
    height: auto;
  }

  select {
    height: $field-heigth;
  }
}
