<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link href="assets/styles/style.min.lib.css" rel="stylesheet">
  <link href="assets/styles/style.min.css" rel="stylesheet">
  {{#if dev}}
  <style>
    body {
      background-color: #fdfdfd;
    }
  </style>
  {{/if}}
</head>
