<footer>
  <section>
    <div class="content-container link-container">
      <p class="link-group">
        <strong>Link group name</strong>
        <a href="#" title="">link 1 group 1</a>
        <a href="#" title="">link 2 group 1</a>
        <a href="#" title="">link 3 group 1</a>
        <a href="#" title="">link 4 group 1</a>
      </p>
      <p class="link-group">
        <strong>Link group name</strong>
        <a href="#" title="">link 1 group 2</a>
        <a href="#" title="">link 2 group 2</a>
        <a href="#" title="">link 3 group 2</a>
      </p>
      <p class="link-group with-icon">
        <strong>Find us on social media</strong>
        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            icon = true
          }}
          <span>link 1 group 3</span>
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            icon = true
          }}
          <span>link 2 group 3</span>
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            icon = true
          }}
          <span>link 3 group 3</span>
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            icon = true
          }}
          <span>link 4 group 3</span>
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            icon = true
          }}
          <span>link 5 group 3</span>
        </a>

      </p>
      <p class="link-group icon-group">
        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            width = 100
            height = 80
          }}
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            width = 100
            height = 80
          }}
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            width = 150
            height = 180
          }}
        </a>

        <a href="#" title="">
          {{> image-placeholder/image-placeholder
            width = 100
            height = 80
          }}
        </a>
      </p>
    </div>
  </section>

  <section>
    <div class="content-container copyright">
      <p>&copy; 2017 - <a href="http://thifania.com/" title="Thifania - Belajar membuat website sendiri">Thifania - Belajar membuat website sendiri</a></p>
    </div>
  </section>
</footer>

<script src="assets/scripts/script.lib.js"></script>
<script src="assets/scripts/script.min.js"></script>
