{{!--
* background for background-color, auto set padded if set
--}}
<div class="wysiwyg{{#if background}} padded {{/if}}"{{#if background}} style="background-color:{{background}};{{/if}}">
  <h2>{{title}} heading 2</h2>

  <p>Lorem ipsum dolor sit amet, id has quem dicam. Eam at stet verear expetendis. Odio elit liber per an, delectus apeirian vel ea. Ad vero adipisci vituperata sed, summo docendi accusata et mea.</p>
</div>
