@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
