@mixin hover-block-a() {
  &:hover {
    background-color: $link-hover-bg;
    border-color: $link-color;
  }
}

@mixin no-hover-block-a() {
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
}

@mixin hover-icon-link() {
  &:hover {
    background-color: transparent;
  }

  &:hover svg,
  &:hover img {
    box-shadow: $box-shadow;
  }
}

@mixin overlay($opac: 0.5, $zindex: 1) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $dark;
    opacity: $opac;
    transition: opacity 0.18s ease-in;
    z-index: $zindex;
  }
}

@mixin pullOverlayBack() {
  > * {
    position: relative;
    z-index: 2;
  }
}
