{{!--
* this is popup content-container
* usage sample in pages/module-popup.hbs
--}}
<div class="popup">
  <div class="wrapper">
    <div class="close">
      {{> svg/svg icon = "cross" cssModifier = "js-close-popup"}}
    </div>
    <div class="content">
      &nbsp;
    </div>
  </div>
</div>
<div class="hide" id="popup-nav-tpl">
  <div>
    <a href="#" class="prev">{{> svg/svg icon="arrow-left"}}</a>
    <span class="current">0</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span class="total">0</span>
    <a href="#" class="next">{{> svg/svg icon="arrow-left"}}</a>
  </div>
</div>
