<div class="popup">
  <div class="wrapper">
    <div class="close">
      {{> svg/svg icon = "cross" cssModifier = "js-close-popup"}}
    </div>
    <div class="content">
      &nbsp;
    </div>
  </div>
</div>
