{{!--
* itemType;
  - vertical: image, title, price, rating, category
  - horizontal
--}}
<div class="item {{itemType}}">
  <h2>title item</h2>
  <p>sub title</p>

  <div class="content">
    <div class="text">
      deatil text
    </div>

    <div class="thumbnail">
      thumbnail
    </div>
  </div>

  <div class="footer">
    footer
  </div>
</div>
