<div class="pagination">
  <a href="#" title="" class="disabled">{{> svg/svg icon = "chevron-left"}}</a>
  <a href="#" title="">1</a>
  <a href="#" title="" class="active">2</a>
  <a href="#" title="">3</a>
  <a href="#" title="" class="dots">...</a>
  <a href="#" title="">5</a>
  <a href="#" title="">{{> svg/svg icon = "chevron-right"}}</a>
</div>
